.App {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #222;
  text-align: center;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: none;
}

html::-webkit-scrollbar {
  display: none;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

canvas {
  width: 100%;
  height: 1000px;
  z-index: -10000;
}

.x {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 23vw);
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1;
  width: auto;
  height: 10vh;
  min-height: 30px;
  color: white;
  scroll-snap-align: start;
  transition: .5s;
  margin: none;
}

.grad{
  font: Helvetica;
  background: linear-gradient(90deg, rgba(244,0,255,1) 0%, rgba(255,57,57,1) 25%, rgba(255,57,57,1) 75%, rgba(244,0,255,1) 100%);
  background-clip: text;
  color: transparent;
  animation: animatedbg 1.5s infinite linear reverse;
  background-size: 200%;
  background-position: -100%;
  z-index: 1;
  width: fit-content;
  margin-inline: auto;
}

.grad2{
  font: Helvetica;
  background: linear-gradient(90deg, #ff1900, #ffc500);
  background-clip: text;
  color: transparent;
  background-size: 200%;
  background-position: -100%;
  z-index: 1;
  width: fit-content;
}

.grad3{
  font: Helvetica;
  background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
  background-clip: text;
  color: transparent;
  background-size: 200%;
  background-position: -100%;
  z-index: 1;
  width: fit-content;
}

.grad4{
  font: Helvetica;
  background: linear-gradient(90deg, #00f260, #0575e6);
  background-clip: text;
  color: transparent;
  background-size: 200%;
  background-position: -100%;
  z-index: 1;
  width: fit-content;
}

#hello {
  position: relative;
  font-weight: 700;
  font-size: 13vh;
  height: 20vh;
}

#contactOuter {
  position: sticky;
  background: linear-gradient(90deg, rgba(244,0,255,1) 0%, rgba(255,57,57,1) 25%, rgba(255,57,57,1) 75%, rgba(244,0,255,1) 100%);;
  cursor: pointer;
  background-position: -100%;
  border-radius: 30px;
  width: 50vw;
  height: 8vh;
  border-radius: 30px;
  animation-delay: .3s;
  background-size: 200%;
  animation: animatedbg 1s infinite linear forwards;
  font-weight: 600;
  transition: .3s;
  display: grid;
  z-index: 1;
  margin-inline: auto;
}

#contactInner {
  font-size: 5vmin;
  margin: auto;
  color: white;
  border-radius: 28px;
  width: 98%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: 7vh;
  background-position: center;
}


@keyframes animatedbg {
  to {
      background-position: 100%;
  }
}

.menu{
  background: linear-gradient(90deg, rgba(244,0,255,1) 0%, rgba(255,57,57,1) 25%, rgba(255,57,57,1) 75%, rgba(244,0,255,1) 100%);;
  place-self: center;
  cursor: pointer;
  background-position: -100%;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  transition: .3s;
  border-radius: 30px;
  animation: movingBorder 1s infinite linear forwards;
  animation-delay: .3s;
  display: grid;
  line-height: 40px;
  font-size: 0;
}
p {
  margin: auto;
  width: 90%;
  height: 90%;
  border-radius: 30px;
  background-color: #222;
}

@keyframes movingBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu:hover {
  animation: none;
  width: 200px;
  height: 10vh;
  border-radius: 40px;
  line-height: 85px;
  font-size: 20px;
}

#introduction {
  position: relative;
  width: 70vw;
  left: 0;
  font: Helvetica;
  color: white;
  font-size: min(4vw, 50px);
  height: 36vh;
  padding-inline: 15vw;
  padding-bottom: 1vh;
  display: table-cell;
  vertical-align: bottom;
}

#firstSS {
  background-color: aliceblue;
  height: 90vh;
}

#second {
  position: relative;
  scroll-snap-align: start;
  padding-top: 2vh;
  font-weight: 700;
  font-size: 8vh;
  height: 20vh;
  width: fit-content;
  margin-inline: auto;
}

#skills{
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 3vh;
}

#skillsContainer {
  --square: min(60vh, 60vw);
  position: relative;
  display: grid;
  width: var(--square);
  height: var(--square);
  margin-inline: auto;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(3, 33.3%);
  margin-top: calc(max(calc(71vh - min(60vh, 60vw)), calc(80vh - min(60vh, 60vw)))/3);
  margin-bottom: calc(max(calc(71vh - min(60vh, 60vw)), calc(80vh - min(60vh, 60vw)))/2);
}

.containerElement {
  border-radius: 7%;
  height: 80%;
  width: 80%;
  place-self: center;
  transition: .3s;
  text-align: left;
  background-color: aliceblue;
}

#indicator{
  top: 50vh;
  text-align: left;
  width: 10px;
  padding-left: 100px;
  position: sticky;
  color: white;
  font-size: 5vh;
  z-index: 2;
  transition: .3s;
}

#contact{
  position: relative;
  color: aliceblue;
  scroll-snap-align: start;
  padding-top: 3vh;
  height: 20vh;
}

#projectsInfo {
  position: relative;
  color: white;
  width: 80%;
  margin-inline: auto;
  height: auto;
  font-size: 2vmin;
}

#displayContainer {
  --square: min(60vh, 60vw);
  position: relative;
  display: flex;
  width: var(--square);
  height: var(--square);
  margin-inline: auto;
  flex-flow: column wrap;
  margin-bottom: max(calc(71vh - min(60vh, 60vw)), calc(80vh - min(60vh, 60vw)));
  align-items: center;
  align-content: center;
}

.container3x3 {
  display: grid;
  position: relative;
  width: 60%;
  height: 60%;
  grid-template-columns: repeat(3, min(20vh, 20vw));
  grid-template-rows: repeat(3, min(20vh, 20vw));
  justify-items: center;
  align-items: center;
  margin-inline: auto;
}

.ccard-main:hover .displayText{
  opacity: 1;
  bottom: -80%;
  width: 100%;
}

.displayText {
  opacity: 0;
  width: 100%;
  align-self: flex-end;
  transition: .5s;
  background: linear-gradient(180deg, rgba(34,34,34,0) 0%, rgba(34,34,34,.6) 30%, rgba(34,34,34,.6) 100%);
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}


#introductionText {
  color: white;
  padding-inline: 15vw;
  width: 70vw;
  font-size: 3vw;
  height: 60vh;
  scroll-snap-align: start;
}

#tempFiller {
  height: 40vh;
}

.form{
  position: relative;
  width: 60%;
  margin-inline: auto;
  margin-bottom: 1vh;
  border-radius: 2vw;
  height: 2vh;
  padding-inline: 1%;
  background-color: #222;
  color: white;
}

#submit{
  position: relative;
  width: 20vw;
  background-color: #222;
  color: white;
  border-radius: 2vw;
  border-color: white;
  transition: 1s;
}

#message{
  width: 60%;
  margin-inline: auto;
  resize: none;
  height: 30vh;
  padding: 1%;
  background-color: #222;
  color: white;
  margin-bottom: 1vh;
  border-radius: 2vw;
  font-family: Helvetica;
}

#submit:hover{
  background-color: blue;
}

.ripples {
  width: 20%;
  height: 20px;
  border-radius: 2vw;
}

.submitWrapper {
  width: 100%;
}

.ccard-main {

  display: flex;
  align-items: center;
  justify-content: center;
}

.ccard {
  width: 17vh;
  height: 17vh;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  will-change: transform;
  background-size: cover;
  display: flex;
}


.testDiv {
  background: linear-gradient(90deg, rgba(244,0,255,1) 0%, rgba(255,57,57,1) 25%, rgba(255,57,57,1) 75%, rgba(244,0,255,1) 100%);
  animation: animatedbg 1.5s infinite linear reverse;
  background-size: 200%;
  background-position: -100%;
  width: 100px;
  height: 100px;
  mask-image: url("./assets/test.svg");
  -webkit-mask-image: url("./assets/test.svg");
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  z-index: 100;
}



.shape-blob {
	background :linear-gradient(90deg, #f400ff, #ff3939 #00f260, #0575e6, #ff1900, #ffc500);
  background-position-x: right;
  background-size: 200%;
	height: 200px;
	width: 200px;
	border-radius: 30% 50% 20% 40%;
  	animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 70%;
	top: 50%;
  transition: background-position-x 1s;
}
.shape-blob.one{
	height: 500px;
	width: 500px;
	left: -200px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

.shape-blob.two{
	height: 350px;
	width: 350px;
	left: 500px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 5em;
	letter-spacing: 2px;
	font-weight: 900;
	color: white;
	line-height: .9em;
	position: relative;
	z-index: 4;
	text-shadow: 2px 3px 15px rgba(0,0,0,.15);
}